.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    padding: 1rem 0;
    text-align: center;
    scroll-margin-top: 80px;
}

.contactSection h3,
.contactSection p {
    padding: 0.7rem 0;
}

.contactSection p {
    font-size: 1.2rem;
    color: #d5d5d5;
}

.contactButton {
    background-color: #1F1F1F;
    background: radial-gradient(circle, rgba(31, 51, 31, 1.9), rgba(20, 20, 20, 0.9), rgba(31, 51, 31, 1.9));
    padding: 0.7rem 1rem;
    color: #D4D4D4;
    border: solid 1px #FFBF00;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    width: 13rem;
    text-decoration: none;
}

.contactButton:hover {
    background-color: #FFBF00;
    color: #FCFDFD;
    transition: 0.3s ease-in-out;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1.5rem 0;

}

.contactDetails a:hover {
    color: #FCFDFD;
}

.contactDetails a {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 1px #FFBF00;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #1F1F1F;
    background: radial-gradient(circle, rgba(31, 51, 31, 1.9), rgba(20, 20, 20, 0.9));
    width: 85%;
    padding: 0.4rem;
}

.contactDetails svg {
    color: #FFBF00;
    
}

@media (min-width: 600px) {
    .contactSection h3 {
        font-size: 2rem;
        margin: 1.5rem;
    }

    .contactSection p {
        font-size: 1.5rem;
        margin: 0 2rem 1rem 2rem;
    }

    .contactButton {
        width: 15rem;
        font-size: 1.4rem;
        margin: 1.5rem auto;
    }

    .contactDetails a {
        height: 3.5rem;
        margin: 0.5rem 0;
        width: 80%;
        font-size: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .contactSection h3 {
        font-size: 2.5rem;
    }

    .contactSection p {
        font-size: 1.8rem;
    }

    .contactButton {
        width: 18rem;
        font-size: 1.6rem;
    }

    .contactDetails a {
        height: 4rem;
        margin: 1rem 0;
        width: 75%;
        font-size: 1.8rem;
    }
}