.contactSection {
    margin: 0 1.5rem;
    padding: 1rem 0;
    text-align: center;
    scroll-margin-top: 80px;
}

.contactSection h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem auto;
    color: white;
    text-align: center;
    text-shadow: #1F1F1F 2px 2px 4px;
}

.containerTittle {
    text-align: center;
    margin: 1rem auto;
}



.contactSection p {
    font-size: 1.6rem;
    margin: 1rem auto;
    text-align: center;
    line-height: 2rem;
    color: #D4D4D4;
    text-shadow: #1F1F1F 2px 2px 4px;
}


.cardBigScreen {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.3rem;
    
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 100%;
}

.contactDetails .cardBigScreen:last-child {
    margin-bottom: 1.5rem;
}


.contactDetails a {
    text-decoration: none;
    width: calc(100% - 3rem);
    height: clamp(4rem, calc(2rem + 1vw), 4rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px #FFBF00;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #1F1F1F;
    background: radial-gradient(circle, rgba(31, 51, 31, 1.9), rgba(20, 20, 20, 0.9));
    padding: 0.8rem 0.4rem;
}



.contactDetails svg {
    color: #FFBF00;

}

