.aboutSection {
    padding-bottom: 1.5rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection p {
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
    line-height: 2rem;
}
.aboutSection h2 {
    width: 100%;
    font-size: 2.2rem;
    margin: 0.5rem auto;
    text-align: left;
}
.aboutSection {
  scroll-margin-top: 80px;
}