.aboutSection {
    padding-bottom: 1.5rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSection p {
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
    line-height: 2rem;
}
.aboutSection h2 {
    width: 100%;
    font-size: 2.2rem;
    margin: 0.5rem auto;
    text-align: center;
}
.aboutSection {
  scroll-margin-top: 80px;
}


.navbarItem svg {
    width: 32px;
    height: 32px;
    
}
.navbarItem a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;

}

.navbarItem a:hover svg {
    scale: 1.3;
    transition: 0.4s ease-in-out;
    color: #FFBF00;
}

.headerSection ul {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.headerSection li {
    width: 100%;
    height: auto;
    list-style-type: none;
}


