.headerSection {
    border-bottom: 1px solid #FFBF00;
    height: 7%;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: radial-gradient(circle, rgba(51, 51, 31, 0.9), rgba(20, 0, 0, 0.8));
    backdrop-filter: blur(4px) brightness(100%);
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    font-size: 1rem;
}


.navbarItem a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;

}

.navbarItem a:hover svg {
    scale: 1.3;
    transition: 0.4s ease-in-out;
    color: #FFBF00;
}

.headerSection ul {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.headerSection li {
    width: 100%;
    height: auto;
    list-style-type: none;
}



@media (min-width: 450px) {
    .headerSection {
        font-size: 18px;
        justify-content: end;
        padding-right: 1rem;
    }
}
@media (min-width: 600px) {
    .headerSection {
        height: 10%;
        padding-right: 2rem;
    }
    .headerSection ul {
        font-size: 22px;
        gap: 4rem;
    }
    .navbarItem svg {
    width: 45px;
    height: 45px;
    
}
}

@media (min-width: 1024px) {
    .headerSection {
        height: 11%;
    }
    
    .headerSection ul {
        font-size: 25px;
    }

}