.projectsSection {
    width: 80vw;
    transition: transform 0.5s ease-in-out;
    border: 1px solid #FFBF00;
    background-color: #1F1F1F;
    border-radius: 1rem;
    scroll-margin-top: 130px;
    margin: 0.6rem auto;   
    display:flex;
}

.projectItem {
    display: grid;
    padding: 10px;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .1fr 1fr;
    
}

.projectsList {
    display: flex;
    margin: 0 auto;
    transition: transform 0.5s ease;
    align-items: start;
    justify-content: center;
    align-items: start;
}

.projectLink img {
    width: 100%;
    height: fit-content;

    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #FFBF00;
} 

.projectTitle {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1rem;
    color: #FFBF00;
    margin: 1.2rem auto;
    
}

.projectTechnologies {
    display: flex;
    color: #FFBF00;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    flex-wrap: wrap;
}
.projectTechnologies svg {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #333333;
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #FFBF00;
}


