.projectsSection {
    width: 80vw;
    transition: transform 0.5s ease-in-out;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    border: 1px solid #FFBF00;
    background-color: #1F1F1F;
    border-radius: 1rem;
    scroll-margin-top: 130px;
    margin: 0.6rem auto;   
    display:flex;
}

.projectsList {
    display: flex;
    padding: 0.7rem;
    margin: 0 auto;
    transition: transform 0.5s ease;
    align-items: start;
    justify-content: center;
    align-items: start;
}

.projectLink img {
    width: 60vw;
    height: clamp(10rem, 30vw, 50vh);
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #FFBF00;
} 

.projectTitle {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1rem;
    color: #FFBF00;
    margin: 1rem 0;
    
}

.projectTechnologies {
    display: flex;
    color: #FFBF00;
    gap: 1rem;
    align-items: end;
    justify-content: center;
    margin-top: 2rem;
}
.projectTechnologies svg {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #333333;
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #FFBF00;
}


