@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Satoshi', sans-serif;
  background: linear-gradient(120deg, #221e1e9f, #1F1F1F 40%, #221e1e9f, #121212);
  background-size: 200% 200%;
  animation: bgMove 12s ease-in-out infinite alternate;
  color: #EFEFEF;
}

p,
ul,
a {
  font-weight: 520;
  color: #B3B3B3;
}

h1 {
  color: #FFBF00;
  font-size: 2.5rem;
  margin: 1.5rem 0.5rem;
}

h2 {
  color: #D4D4D4;
}

h3 {
  color: #D4D4D4;
}