@keyframes bgMove {
  from {
        background-position: 0% 50%;
    }

    to {
        background-position: 200% 50%;
    }
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Satoshi', sans-serif;
  background: linear-gradient(120deg, #221e1e9f, #1F1F1F 40%, #221e1e9f, #121212);
  background-size: 200% 200%;
  animation: bgMove 5s ease-in-out infinite alternate;
}

p,
ul,
a {
  font-weight: 520;
  color: #bfbebe;
}



h2 {
  color: rgb(215, 214, 214);
}

h3 {
  color: #D4D4D4;
}

