.backImg {
    background-image: url('/1.07MB_banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homeSection {
    margin: 6.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
}


.homeSection h2:nth-of-type(2) {
    padding-bottom: 0.8rem;
}
.homeSection h2 {
    padding: 0 0 0 1.3rem;
    display: flex;
    font-size: clamp(1.4rem, calc(1rem + 2.2vw), 3.2rem);
    margin: 0.5rem 0;
    white-space: wrap;
}

.homeSection h1 {
    margin: clamp(1rem, calc(1rem + 3vw), 5rem) clamp(1rem, calc(2rem + 3vw), 9rem);
    margin-bottom: clamp(0.5rem, calc(1rem + 2vw), 4rem);
    font-size: clamp(1.4rem, calc(1.2rem + 2.2vw), 3rem);
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    background-image: radial-gradient(circle, rgb(128, 128, 128, 0.7), rgba(0, 0, 0, 0.7));
    border-radius: 10px;
    padding: clamp(0.8rem, calc(0.5rem + 1vw), 2rem);
}
.homeSection p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    white-space: nowrap;
    display: flex;
    flex-direction: flex-start;
    position: relative;
}

.line::before {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #FFBF00, black 70%, #D4D4D4);
    margin-top: 0.7rem;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.sliderHero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    text-align: center;
}

.sliderSection {
    width: 90%;
    height: fit-content;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.sliderSection h2 {
    text-align: left;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.slider {
    width: 100%;
    margin: 1.3rem auto;
    display: flex;
    text-align: center;
    transition: 0.5s ease;
}



.slider>* {
    display: flex;
    flex: 0 0 100%;
}

 .slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    width: 10vw;
} 

.slideIndicators {
    background-color: transparent;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slideIndicator {
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}

.slideIndicator:hover {
    background-color: #FFBF00;
}

.projectsNav {
    padding: 5px;
    margin: 0 6px;
    cursor: pointer;
    border: black solid 3px;
    border-radius: 50%;
    box-shadow: 0 0 8px black;
    background: linear-gradient(to bottom, #FFBF00, #1F1F1F);

}

.projectsNav.active {
    background: linear-gradient(to bottom, #1F1F1F 20%, #FFBF00 80%);
    box-shadow: 0 0 8px #FFBF00;
    transition: all 1s ease-in-out;
    width: 21px;
    height: 21px;
}

.previousBtn,
.nextBtn {
    color: yellow;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
    position: absolute;
    top: 50%;
    border: black 2px solid;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 25%;
}

.nextBtn {
    right: 1vw;
    background: linear-gradient(to left, #1F1F1F, whitesmoke);


}

.previousBtn {
    left: 1vw;
    background: linear-gradient(to left, whitesmoke 15%, #1F1F1F);

}



.aboutParallax {
    background-image: url('/1.28MB_banner2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    width: 100%;
    margin: 0;
    border-top: 2px solid #FFBF00;
    border-bottom: 2px solid #FFBF00;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.aboutParallax .navbarItem svg {
    width: 45px;
    height: 45px;

}

.aboutParallax .navbarItem a {
    display: flex;
    align-items: center;
    text-decoration: none;

    color: #FFBF00;
}


.aboutParallax .navbar {
    background: radial-gradient(circle, rgba(51, 51, 31, 0.9), rgba(20, 0, 0, 0.8));
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    height: fit-content;
    border-top: 2px solid #FFBF00;
    border-bottom: 2px solid #FFBF00;
    
}

.aboutParallax .navbarItem a:hover svg {

    scale: 1.3;
    transition: 0.4s ease-in-out;
    color: white;
}

.aboutParallax ul {
    display: flex;
    gap: 3rem;
    align-items: center;

}

.aboutParallax li {
    list-style-type: none;
}



