.homeSection {
    padding: 5rem 0 1.5rem 0;

    display: flex;
    flex-direction: column;
}

.homeSection h1 {
    margin: 1.5rem;
    font-size: 3rem;

    background: linear-gradient(to right, #FFBF00, #D4D4D4 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.homeSection h2 {
    font-size: 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.homeSection p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
}



.sectionHero {
    height: 40rem;
    margin-bottom: 10rem;
    filter: blur(1);
}

.sectionHero img {
    object-fit: cover;
    height: 20rem;
    
}

.containerHero:before {
    content: "Seu comércio mais profisional";
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: black;
    color:#FFBF00;
    font-style: italic;
    opacity: 0.6;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.5rem;
}


.containerHero {
    display: flex;
    height: 20rem;
    position: relative;
}

.heroBox img {
    filter: blur(2);
    width: 100%;

}

.homeSection .containerHero:last-of-type img {
    width: 100%;
}


.heroBox {
    width: 50%;
}

.heroBox img {
    width: 100%;

}

.title {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    white-space: nowrap;
    display: flex;
    flex-direction: flex-start;
    position: relative;
}

.line::before {
    content: "";
    width: calc(100vw - 2.5rem);
    height: 5px;
    background: linear-gradient(to right, #FFBF00, black 70%, #D4D4D4);
    margin-right: 0.5rem;
    margin-top: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
}



.contactButton {
    background-color: #1F1F1F;
    background: radial-gradient(circle, rgba(31, 51, 31, 1.9), rgba(20, 20, 20, 0.9), rgba(31, 51, 31, 1.9));
    padding: 0.7rem 1rem;
    color: #D4D4D4;
    border: solid 1px #FFBF00;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    width: 13rem;
    margin: 0.5rem auto;
    text-decoration: none;
}

.contactButton:hover {
    background-color: #FFBF00;
    color: #FCFDFD;
    transition: 0.3s ease-in-out;
}

.sliderSection {
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.sliderSection h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.slider {
    width: 100%;
    margin: 1.3rem auto;
    display: flex;
    text-align: center;
    transition: 0.5s ease;
}



.slider>* {
    display: flex;
    flex: 0 0 auto;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    width: 90%;
}

.slideIndicators {
    background-color: transparent;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slideIndicator {
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}

.slideIndicator:hover {
    background-color: #FFBF00;
}

.projectsNav {
    padding: 5px;
    margin: 0 6px;
    cursor: pointer;
    border: black solid 3px;
    border-radius: 50%;
    box-shadow: 0 0 8px black;
    background: linear-gradient(to bottom, #FFBF00, #1F1F1F);

}

.projectsNav.active {
    background: linear-gradient(to bottom, #1F1F1F 20%, #FFBF00 80%);
    box-shadow: 0 0 8px #FFBF00;
    transition: all 1s ease-in-out;
    width: 21px;
    height: 21px;
}

.previousBtn,
.nextBtn {
    background: transparent;
    color: yellow;
    border: none;
    cursor: pointer;
    font-size: 2.7rem;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(98%);
    padding: 1rem;
}

.previousBtn {
    right: 4rem;
}

.nextBtn {
    right: 0;
}



@media (min-width: 600px) {
    .homeSection h1 {
        font-size: 4.5rem;
        padding: 2rem 0;
        width: 85%;
    }

    .homeSection h2 {
        font-size: 2.5rem;
    }

    .homeSection p {
        font-size: 1.8rem;
        padding: 1.5rem 0;
    }

    .contactButton {
        margin: 2rem auto;
    }

    .sliderSection h2 {
        font-size: 2.5rem;
        margin: 2rem auto;
    }

    /* .slider img {
        flex: 0 0 80%;
        max-width: 100%;
    } */
}

@media (min-width: 1024px) {
    .homeSection h1 {
        font-size: 5.5rem;
        padding: 3rem 0;
        width: 90%;
    }

    .homeSection h2 {
        font-size: 3.5rem;
    }

    .homeSection p {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .contactButton {
        width: 15rem;
        font-size: 1.5rem;
    }

    .sliderSection h2 {
        font-size: 3rem;
        margin: 3rem auto;
    }
}