.homeSection {
    padding: 5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
}

.homeSection h1 {
    margin: 1.3rem 1rem;
    font-size: 2.4rem;

    background: linear-gradient(to right, #FFBF00, #D4D4D4 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.homeSection h2 {
    display: flex;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    white-space: wrap;


}

.homeSection p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
}



.sectionHero {
    height: 40rem;
    width: 100%;
    margin-bottom: 10rem;
    filter: blur(1);
}

.sectionHero img {
    object-fit: cover;
    height: 20rem;
    width: 100%
}

.containerHero:before {
    content: "Seu comércio mais profisional";
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: black;
    color: #FFBF00;
    font-style: italic;
    opacity: 0.6;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1.2rem;
    z-index: 8;
    font-size: 18px;
}


.containerHero {
    display: flex;
    height: 20rem;
    position: relative;
}

.heroBox img {
    width: 100%;

}

.homeSection .containerHero:last-of-type img {
    width: 100%;
}


.heroBox {
    width: 50%;
}

.heroBox img {
    width: 100%;

}

.title {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    white-space: nowrap;
    display: flex;
    flex-direction: flex-start;
    position: relative;
}

.line::before {
    content: "";
    width: 100vw;
    height: 5px;
    background: linear-gradient(to right, #FFBF00, black 70%, #D4D4D4);
    margin-top: 0.7rem;
    position: absolute;
    bottom: -3px;
    left: 0;
}



.contactButton {
    background-color: #1F1F1F;
    background: radial-gradient(circle, rgba(31, 51, 31, 1.9), rgba(20, 20, 20, 0.9), rgba(31, 51, 31, 1.9));
    padding: 0.7rem 1rem;
    color: #D4D4D4;
    border: solid 1px #FFBF00;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    width: 13rem;
    margin: 0.5rem auto;
    text-decoration: none;
    z-index: 8;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

.contactButton:hover {
    background-color: #FFBF00;
    color: #FCFDFD;
    transition: 0.3s ease-in-out;
}

.sliderSection {
    
    width: 90%;
    border: 2px solid yellow;
    height: fit-content;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.sliderSection h2 {
    text-align: left;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.slider {
    width: 100%;
    margin: 1.3rem auto;
    display: flex;
    text-align: center;
    transition: 0.5s ease;
}



.slider>* {
    display: flex;
    flex: 0 0 auto;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    width: 90%;
}

.slideIndicators {
    background-color: transparent;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slideIndicator {
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}

.slideIndicator:hover {
    background-color: #FFBF00;
}

.projectsNav {
    padding: 5px;
    margin: 0 6px;
    cursor: pointer;
    border: black solid 3px;
    border-radius: 50%;
    box-shadow: 0 0 8px black;
    background: linear-gradient(to bottom, #FFBF00, #1F1F1F);

}

.projectsNav.active {
    background: linear-gradient(to bottom, #1F1F1F 20%, #FFBF00 80%);
    box-shadow: 0 0 8px #FFBF00;
    transition: all 1s ease-in-out;
    width: 21px;
    height: 21px;
}

.previousBtn,
.nextBtn {
    background: transparent;
    color: yellow;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 8;
    position: absolute;
    bottom: 114px;
    transform: translateY(98%);
    padding: 1rem;
    height: 2rem;
}

.previousBtn {
    right: 4rem;
}

.nextBtn {
    right: 0;
}


@media(min-width: 361px) {

    .sectionHero {
        width: 100%;

    }

    .containerHero {
        width: 100%;
    }

    .heroBox {
        width: 100%;
    }

    .sliderSection {
        width: 97%;
    }

    .previousBtn,
    .nextBtn {
        bottom: 108px;

    }

    .containerHero:before {
        font-size: 22px;
        height: 18%;
    }
}


@media (min-width: 600px) {
    .homeSection h1 {
        font-size: 4rem;
        padding: 2rem 0;
    }

    .homeSection h2 {
        font-size: 2.5rem;
    }

    .homeSection p {
        font-size: 1.8rem;
        padding: 1.5rem 0;
    }

    .contactButton {
        margin: 2rem auto;
    }

    .sliderSection h2 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    .slider img {
        flex: 0 0 80%;
        max-width: 100%;
    }

    .previousBtn,
    .nextBtn {
       top: 50vh;
       transform: none;
        
    }
    .nextBtn {
        transform: translateX(15%);
    }

    .previousBtn {
        left: 0;
        transform: translateX(-46%);
    }
}

@media (min-width: 1024px) {
    .homeSection h1 {
        font-size: 5.5rem;
        padding: 3rem 0;
        width: 90%;
    }

    .homeSection h2 {
        font-size: 3.5rem;
    }

    .homeSection p {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .contactButton {
        width: 15rem;
        font-size: 1.5rem;
    }

    .sliderSection h2 {
        font-size: 3rem;
        margin: 3rem auto;
    }
}