.sectionHero {
    position: relative;
    padding: 5px;
    margin: 0 auto;
    height: 100%;
}
.sliderHero {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.sliderContainer {
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

.sliderContainer > * {
    flex: 0 0 100%;
    width: 100%;
}

.sliderContainer img {
    opacity: 0.9;
    width: 100%;
    scroll-snap-align: start;
    border-radius: 10px;
    margin: 0 10vw;
}

.slideIndicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    background-color: whitesmoke;
    padding: 3px 8px;
    border-radius: 20px;
    opacity: 0.8;
}
.indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slideIndicators .active {
    background-color: #717171;

}
.slideControls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.slideDescription {
    z-index:10;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.slideControls button {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.slideControls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.slide p {
    position: absolute;
    color: rgb(225, 224, 224);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.9);
    padding: 10px;
    background-image: radial-gradient(circle, rgb(128, 128, 128, 0.7), rgba(0, 0, 0, 0.6));
    letter-spacing: 1px;
    border-radius: 10px;
}

@media (min-width: 700px) {

    .sliderContainer img {
        object-fit: cover;
        
    }
}