.sectionHero {
    position: relative;
    padding: 5px;
    margin: 0 auto;
    
}

.sliderHero {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
    overflow: hidden; 
    margin: 0 auto;
}

.sliderContainer {
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    height: fit-content;
}

.sliderContainer img {
    opacity: 0.7;
    object-fit: cover;
    /* scroll-snap-align: start; */
    border-radius: 10px;
    margin: 0 auto;
    height: auto;
    display: block;
    width: clamp(280px, 100%, 2400px);
}

.slideIndicators {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 8px;
    z-index: 10;
    background-color: whitesmoke;
    padding: 3px 8px;
    border-radius: 20px;
    opacity: 0.8;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slideIndicators .active {
    background-color: #717171;

}
.slideControls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

/* .slideDescription {
    z-index:10;
  text-align: center;
  margin-top: 1rem;
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: #fff;
} */

.slideControls button {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    background: rgba(255, 255, 255, 0.5);
    font-size: clamp(18px, 3vw, 32px);
}

.slideControls button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

.slide p {
    position: absolute;
    color: rgb(225, 224, 224);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.9);
    padding: clamp(10px, 3vw, 20px);
    background-image: radial-gradient(circle, rgb(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));
    letter-spacing: 1px;
    border-radius: 10px;
    width: 80vw;
}

