.sectionHero {
    position: relative;
    padding: 5px;
    margin: 0 auto;
    
}

.sliderHero {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
    overflow: hidden; 
    margin: 0 auto;
    position: relative;
}

.sliderContainer {
    display: flex;
    scroll-behavior: smooth;
    transition: 0.2s ease-in-out;
    height: fit-content;
}

.sliderContainer p {
    font-size: clamp(22px, 3.5vw, 7vw);

}
.sliderContainer img {
    opacity: 0.7;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    height: auto;
    display: block;
    width: clamp(280px, 85vw, 2400px);
    max-height: clamp(200px, 65vh, 800px);
    max-width: 100vw;
}

.slideIndicators {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
    background-color: whitesmoke;
    padding: 3px 8px;
    border-radius: 20px;
    opacity: 0.8;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slideIndicators .active {
    background-color: #717171;

}
.slideControls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slideControls button {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    padding: clamp(6px, calc(2vw - 1rem), 24px) clamp(9px, calc(2vw - 5px), 3vw);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.5);
    font-size: clamp(18px, 2.5vw, 32px);
}

.slideControls button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.slide p {
    position: absolute;
    color: rgb(225, 224, 224);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.9);
    padding: clamp(1px, calc(4vw - 1rem), 4vw);
    background-image: radial-gradient(circle, rgb(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));
    letter-spacing: 1px;
    border-radius: 10px;
    width: 75vw;
}

